In [139]:
import math
import pandas as pd

In [140]:
data = pd.read_csv('Work book - Copy.csv')

In [141]:
lammda = data['lamda']
miiu = data['miu']
cc= data['c']
roow = data['row']
roow_by_c = data['row by c']

lamda = 10
miu = 6
c = 2
row = lamda/miu
row_by_c = row/c
sum = 0

for n in range(0,c):
    f =math.factorial(n)
    a =(row**n)/f
    sum= sum+ a
second = ((row**c)/math.factorial(c))
third = (1/(1-row_by_c))
final = 1/(sum+second*third)

p = []
for i in range(0,len(lammda)):
    lamda = lammda[i]
    miu = miiu[i]
    c = cc[i]
    row = lammda[i]/miiu[i]
    row_by_c = row/c
    sum = 0

    for n in range(0,c):
        f =math.factorial(n)
        a =(row**n)/f
        sum= sum+ a
    second = ((row**c)/math.factorial(c))
    third = (1/(1-row_by_c))
    final = 1/(sum+second*third)
    p.append(final)

data['P0']= p

## Determining Lq

In [142]:
p = []
lq =[]
ls = []
wq = []
ws = []
for i in range(0,len(lammda)):
    lamda = lammda[i]
    miu = miiu[i]
    c = cc[i]
    row = lammda[i]/miiu[i]
    row_by_c = row/c
    sum = 0

    for n in range(0,c):
        f =math.factorial(n)
        a =(row**n)/f
        sum= sum+ a
    second = ((row**c)/math.factorial(c))
    third = (1/(1-row_by_c))
    final = 1/(sum+second*third)
    p.append(final)

    # determining lq
    lqq = ((row**(c+1))*final)/((math.factorial(c-1))*((c-row)**2))
    lq.append(lqq)

    # determining ls
    lls = lqq+row
    ls.append(lls)

    # determining Wq
    wqq = (lqq/lamda)*60
    wq.append(wqq)

    # determining Ws
    wss = (lls/lamda)*60
    ws.append(wss)

C:\Users\Nakib\AppData\Local\Temp\ipykernel_16028\2859482081.py:19: RuntimeWarning: divide by zero encountered in double_scalars
  third = (1/(1-row_by_c))
C:\Users\Nakib\AppData\Local\Temp\ipykernel_16028\2859482081.py:24: RuntimeWarning: invalid value encountered in double_scalars
  lqq = ((row**(c+1))*final)/((math.factorial(c-1))*((c-row)**2))

In [143]:
data['P0'] = p
data['Lq'] = lq
data['Ls'] = ls
data['Wq'] = wq
data['Ws'] = ws

In [144]:
data

,lamda,miu,c,P0,Ls,Lq,Ws,Wq,row,row by c,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,11,7,2,0.120000,4.106667,2.535238,22.400000,13.828571,1.571429,0.785714,NaN,NaN,NaN
1,12,8,2,0.142857,3.428571,1.928571,17.142857,9.642857,1.500000,0.750000,NaN,NaN,NaN
2,13,9,2,0.161290,3.019355,1.574910,13.935484,7.268817,1.444444,0.722222,NaN,NaN,NaN
3,14,10,2,0.176471,2.745098,1.345098,11.764706,5.764706,1.400000,0.700000,NaN,NaN,NaN
4,9,5,2,0.052632,9.473684,7.673684,63.157895,51.157895,1.800000,0.900000,NaN,NaN,NaN
5,8,4,2,0.000000,NaN,NaN,NaN,NaN,2.000000,1.000000,NaN,NaN,NaN
6,7,3,2,-0.076923,-6.461538,-8.794872,-55.384615,-75.384615,2.333333,1.166667,NaN,NaN,NaN
7,6,2,2,-0.200000,-2.400000,-5.400000,-24.000000,-54.000000,3.000000,1.500000,NaN,NaN,NaN
8,11,7,3,0.193638,1.860719,0.289291,10.149378,1.577949,1.571429,0.523810,NaN,NaN,NaN
9,12,8,4,0.220994,1.544751,0.044751,7.723757,0.223757,1.500000,0.375000,NaN,NaN,NaN
10,13,9,5,0.235571,1.451496,0.007052,6.699213,0.032547,1.444444,0.288889,NaN,NaN,NaN
11,14,10,6,0.246557,1.401024,0.001024,6.004387,0.004387,1.400000,0.233333,NaN,NaN,NaN
12,9,5,3,0.145985,2.332117,0.532117,15.547445,3.547445,1.800000,0.600000,NaN,NaN,NaN
13,8,4,4,0.130435,2.173913,0.173913,16.304348,1.304348,2.000000,0.500000,NaN,NaN,NaN
14,7,3,5,0.095341,2.423489,0.090156,20.772764,0.772764,2.333333,0.466667,NaN,NaN,NaN
15,6,2,6,0.048960,3.099143,0.099143,30.991432,0.991432,3.000000,0.500000,NaN,NaN,NaN

In [145]:
data.to_excel("Multiple Server Infinite Queue Length Infinite Queue Population Model Updated.xlsx")