In [91]:
import math
import pandas as pd

In [92]:
data = pd.read_excel('Multiple Server Finite Queue Length Infinite Queue Population Model Data Set.xlsx')

In [93]:
data

    lamda  miu  c  P0  Ls  lamda k  Lq  Ws  Wq       row  row by c
0      13    9  2 NaN NaN      NaN NaN NaN NaN  1.444444  0.722222
1      14   10  2 NaN NaN      NaN NaN NaN NaN  1.400000  0.700000
2      15   11  2 NaN NaN      NaN NaN NaN NaN  1.363636  0.681818
3      16   12  2 NaN NaN      NaN NaN NaN NaN  1.333333  0.666667
4      12    8  2 NaN NaN      NaN NaN NaN NaN  1.500000  0.750000
5      11    7  2 NaN NaN      NaN NaN NaN NaN  1.571429  0.785714
6      10    6  2 NaN NaN      NaN NaN NaN NaN  1.666667  0.833333
7       9    5  2 NaN NaN      NaN NaN NaN NaN  1.800000  0.900000
8      10    6  3 NaN NaN      NaN NaN NaN NaN  1.666667  0.555556
9      10    6  4 NaN NaN      NaN NaN NaN NaN  1.666667  0.416667
10     10    6  5 NaN NaN      NaN NaN NaN NaN  1.666667  0.333333
11     10    6  6 NaN NaN      NaN NaN NaN NaN  1.666667  0.277778
12     10    6  3 NaN NaN      NaN NaN NaN NaN  1.666667  0.555556
13     11    7  4 NaN NaN      NaN NaN NaN NaN  1.571429  0.392857
14     12    8  5 NaN NaN      NaN NaN NaN NaN  1.500000  0.300000
15     13    9  6 NaN NaN      NaN NaN NaN NaN  1.444444  0.240741

In [94]:
lammda = data['lamda']
miiu = data['miu']
cc= data['c']
roow = data['row']
roow_by_c = data['row by c']

In [95]:
p = []
lam =[]
lq =[]
ls = []
wq = []
ws = []

for i in range(0,len(lammda)):
    lamda = lammda[i]
    miu = miiu[i]
    c = cc[i]
    row = lammda[i]/miiu[i]
    row_by_c = row/c
    sum = 0
    l = 7 # value of N

    for n in range(0,c):
        f =math.factorial(n)
        a =(row**n)/f
        sum= sum+ a
    second = ((row**c)/math.factorial(c))
    third = ((1-((row_by_c)**(l-c+1)))/(1-row_by_c))
    final = 1/(sum+second*third)
    p.append(final)

    # determining lq
    lq_1 = ((row ** (c + 1)) * final) / ((math.factorial(c - 1)))
    lq_2 = 1 - ((row_by_c)**(l-c+1)) -((l-c+1)*(1-row_by_c)*((row_by_c)**(l-c)))
    lq_3 = (c - row)**2

    lqq = lq_1*(lq_2/lq_3)
    lq.append(lqq)


    # determining lamda_k
    p_n =(((row)**l)/((math.factorial(c))*(c**(l-c))))*final
    lamda_k = lamda*(1-p_n)
    lam.append(lamda_k)


    # determining ls

    lls = lqq+(lamda_k/miu)
    ls.append(lls)


    # determining Wq

    wqq = (lqq / lamda_k)*60
    wq.append(wqq)

    # determining Ws

    wss = (lls / lamda_k)*60
    ws.append(wss)

In [96]:
data['P0'] = p
data['Lq'] = lq
data['lamda k'] =lam
data['Ls'] = ls
data['Wq'] = wq
data['Ws'] = ws

In [97]:
data.head()

,lamda,miu,c,P0,Ls,lamda k,Lq,Ws,Wq,row,row by c
0,13,9,2,0.176459,2.306420,12.529767,0.914224,11.044517,4.377851,1.444444,0.722222
1,14,10,2,0.189310,2.193012,13.563467,0.836665,9.701112,3.701112,1.400000,0.700000
2,15,11,2,0.200314,2.101661,14.588364,0.775446,8.643852,3.189307,1.363636,0.681818
3,16,12,2,0.209824,2.026672,15.607023,0.726087,7.791384,2.791384,1.333333,0.666667
4,12,8,2,0.161314,2.450367,11.483213,1.014966,12.803214,5.303214,1.500000,0.750000

In [98]:
data.to_excel("Multiple Server Finite Queue Length Infinite Queue Population Model Output.xlsx")

## Validation

#### Inputs:

    Enter the arrival rate of individuals/hour, (λ)	10
    Enter the service rate of the system/hour, (μ)	6
    Number of servers, (c)	2

#### Outputs

    The probability of no person (P0)	0.1218
    The length of the system (Ls)	2.89
    Effective arrival rate (λ_k)	9.32
    The length of the queue (Lq)	1.335
    The waiting time in the system (Ws)	18.61 minutes
    The waiting time in the queue is  (Wq)	8.59 minutes


#### You can check the models results by running the next line

In [15]:
import math
lamda = int(input("Enter the arrival rate of individuals/hour, (λ)  :"))
miu = int(input("Enter the service rate of the system/hour, (μ)  :"))
c = int(input("Enter the Number of servers, (c)  :"))

row = lamda/miu
row_by_c = row/c
sum = 0
l = 7 # value of N
for n in range(0,c):
    f =math.factorial(n)
    a =(row**n)/f
    sum= sum+ a
second = ((row**c)/math.factorial(c))
third = ((1-((row_by_c)**(l-c+1)))/(1-row_by_c))
final = 1/(sum+second*third)

print(f"The probability of no person (P0) {final} or {final*100} % ")

# determining lq
lq_1 = ((row ** (c + 1)) * final) / ((math.factorial(c - 1)))
lq_2 = 1 - ((row_by_c)**(l-c+1)) -((l-c+1)*(1-row_by_c)*((row_by_c)**(l-c)))
lq_3 = (c - row)**2

lq = lq_1*(lq_2/lq_3)
print(f"The length of the queue (Lq) : {lq} ")

# determining lamda_k
p_n =(((row)**l)/((math.factorial(c))*(c**(l-c))))*final
lamda_k = lamda*(1-p_n)
print(f"Effective arrival rate (λ_k) : {lamda_k}")

# determining ls
ls = lq + (lamda_k/miu)
print(f"The length of the system (Ls) : {ls}")

# determining Wq
wq = lq / lamda_k
print(f"The waiting time in the system (Ws) : {wq*60}  minutes")

# determining Ws
ws = ls / lamda_k
print(f"The waiting time in the system (Ws) : {ws*60}  minutes")

The probability of no person (P0) 0.12181479395973793 or 12.181479395973794 %
The length of the queue (Lq) : 1.3360263458607882
Effective arrival rate (λ_k) : 9.320074532885766
The length of the system (Ls) : 2.889372101341749
The waiting time in the system (Ws) : 8.600959194993361  minutes
The waiting time in the system (Ws) : 18.60095919499336  minutes