In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_excel("Multiple Server Finite Queue Length Infinite Queue Population Model Output.xlsx")

In [3]:
data.head()

,Unnamed: 0,lamda,miu,c,P0,Ls,lamda k,Lq,Ws,Wq,row,row by c
0,0,13,9,2,0.176459,2.306420,12.529767,0.914224,11.044517,4.377851,1.444444,0.722222
1,1,14,10,2,0.189310,2.193012,13.563467,0.836665,9.701112,3.701112,1.400000,0.700000
2,2,15,11,2,0.200314,2.101661,14.588364,0.775446,8.643852,3.189307,1.363636,0.681818
3,3,16,12,2,0.209824,2.026672,15.607023,0.726087,7.791384,2.791384,1.333333,0.666667
4,4,12,8,2,0.161314,2.450367,11.483213,1.014966,12.803214,5.303214,1.500000,0.750000

In [7]:
new_data = data[['lamda','miu','c','Ls','Lq','Wq','Ws']]

In [4]:
data.columns

Index(['Unnamed: 0', 'lamda', 'miu', 'c', 'P0', 'Ls', 'lamda k', 'Lq', 'Ws',
       'Wq', 'row', 'row by c'],
      dtype='object')

In [8]:
new_data

    lamda  miu  c        Ls        Lq         Wq         Ws
0      13    9  2  2.306420  0.914224   4.377851  11.044517
1      14   10  2  2.193012  0.836665   3.701112   9.701112
2      15   11  2  2.101661  0.775446   3.189307   8.643852
3      16   12  2  2.026672  0.726087   2.791384   7.791384
4      12    8  2  2.450367  1.014966   5.303214  12.803214
5      11    7  2  2.637856  1.149694   6.621935  15.193363
6      10    6  2  2.889372  1.336026   8.600959  18.600959
7       9    5  2  3.237635  1.603348  11.772827  23.772827
8      10    6  3  1.925166  0.279992   1.701901  11.701901
9      10    6  4  1.718255  0.058818   0.354443  10.354443
10     10    6  5  1.674151  0.011226   0.067508  10.067508
11     10    6  6  1.665625  0.001562   0.009387  10.009387
12     10    6  3  1.925166  0.279992   1.701901  11.701901
13     11    7  4  1.612621  0.046172   0.252648   8.824076
14     12    8  5  1.504866  0.006770   0.033895   7.533895
15     13    9  6  1.444126  0.000716   0.003309   6.669975

In [19]:
case_1 = new_data[0:4]
case_2 = new_data[4:8]
case_3 = new_data[8:12]
case_4 = new_data[12:16]

In [20]:
case_1

   lamda  miu  c        Ls        Lq        Wq         Ws
0     13    9  2  2.306420  0.914224  4.377851  11.044517
1     14   10  2  2.193012  0.836665  3.701112   9.701112
2     15   11  2  2.101661  0.775446  3.189307   8.643852
3     16   12  2  2.026672  0.726087  2.791384   7.791384

In [26]:
x = case_1['lamda']
x2 = case_1['miu']
ls = case_1['Ls']
lq = case_1['Lq']
wq = case_1['Wq']
ws = case_1['Ws']