In [18]:
import math
import pandas as pd

In [19]:
data = pd.read_excel('Multiple Server Infinite Queue Length Infinite Queue Population Model Data Set.xlsx')

In [20]:
data

    lamda  miu  c  P0  Ls  Lq  Ws  Wq       row  row by c
0      13    9  2 NaN NaN NaN NaN NaN  1.444444  0.722222
1      14   10  2 NaN NaN NaN NaN NaN  1.400000  0.700000
2      15   11  2 NaN NaN NaN NaN NaN  1.363636  0.681818
3      16   12  2 NaN NaN NaN NaN NaN  1.333333  0.666667
4      12    8  2 NaN NaN NaN NaN NaN  1.500000  0.750000
5      11    7  2 NaN NaN NaN NaN NaN  1.571429  0.785714
6      10    6  2 NaN NaN NaN NaN NaN  1.666667  0.833333
7       9    5  2 NaN NaN NaN NaN NaN  1.800000  0.900000
8      10    6  3 NaN NaN NaN NaN NaN  1.666667  0.555556
9      10    6  4 NaN NaN NaN NaN NaN  1.666667  0.416667
10     10    6  5 NaN NaN NaN NaN NaN  1.666667  0.333333
11     10    6  6 NaN NaN NaN NaN NaN  1.666667  0.277778
12     10    6  3 NaN NaN NaN NaN NaN  1.666667  0.555556
13     11    7  4 NaN NaN NaN NaN NaN  1.571429  0.392857
14     12    8  5 NaN NaN NaN NaN NaN  1.500000  0.300000
15     13    9  6 NaN NaN NaN NaN NaN  1.444444  0.240741

In [21]:
lammda = data['lamda']
miiu = data['miu']
cc= data['c']
roow = data['row']
roow_by_c = data['row by c']

In [22]:
p = []
lq =[]
ls = []
wq = []
ws = []
for i in range(0,len(lammda)):
    lamda = lammda[i]
    miu = miiu[i]
    c = cc[i]
    row = lammda[i]/miiu[i]
    row_by_c = row/c
    sum = 0

    for n in range(0,c):
        f =math.factorial(n)
        a =(row**n)/f
        sum= sum+ a
    second = ((row**c)/math.factorial(c))
    third = (1/(1-row_by_c))
    final = 1/(sum+second*third)
    p.append(final)

    # determining lq
    lqq = ((row**(c+1))*final)/((math.factorial(c-1))*((c-row)**2))
    lq.append(lqq)

    # determining ls
    lls = lqq+row
    ls.append(lls)

    # determining Wq
    wqq = (lqq/lamda)*60
    wq.append(wqq)

    # determining Ws
    wss = (lls/lamda)*60
    ws.append(wss)

In [23]:
data['P0'] = p
data['Lq'] = lq
data['Ls'] = ls
data['Wq'] = wq
data['Ws'] = ws

In [24]:
data

,lamda,miu,c,P0,Ls,Lq,Ws,Wq,row,row by c
0,13,9,2,0.161290,3.019355,1.574910,13.935484,7.268817,1.444444,0.722222
1,14,10,2,0.176471,2.745098,1.345098,11.764706,5.764706,1.400000,0.700000
2,15,11,2,0.189189,2.548263,1.184626,10.193050,4.738505,1.363636,0.681818
3,16,12,2,0.200000,2.400000,1.066667,9.000000,4.000000,1.333333,0.666667
4,12,8,2,0.142857,3.428571,1.928571,17.142857,9.642857,1.500000,0.750000
5,11,7,2,0.120000,4.106667,2.535238,22.400000,13.828571,1.571429,0.785714
6,10,6,2,0.090909,5.454545,3.787879,32.727273,22.727273,1.666667,0.833333
7,9,5,2,0.052632,9.473684,7.673684,63.157895,51.157895,1.800000,0.900000
8,10,6,3,0.172662,2.041367,0.374700,12.248201,2.248201,1.666667,0.555556
9,10,6,4,0.185932,1.739864,0.073197,10.439182,0.439182,1.666667,0.416667
10,10,6,5,0.188345,1.681805,0.015138,10.090830,0.090830,1.666667,0.333333
11,10,6,6,0.188784,1.669659,0.002993,10.017957,0.017957,1.666667,0.277778
12,10,6,3,0.172662,2.041367,0.374700,12.248201,2.248201,1.666667,0.555556
13,11,7,4,0.205282,1.627015,0.055587,8.874629,0.303200,1.571429,0.392857
14,12,8,5,0.222775,1.508631,0.008631,7.543156,0.043156,1.500000,0.300000
15,13,9,6,0.235830,1.445687,0.001242,6.672401,0.005734,1.444444,0.240741

In [25]:
data.to_excel("Multiple Server Infinite Queue Length Infinite Queue Population Model Output.xlsx")

p = []
for i in range(0,len(lammda)):
    lamda = lammda[i]
    miu = miiu[i]
    c = cc[i]
    row = lammda[i]/miiu[i]
    row_by_c = row/c
    sum = 0

    for n in range(0,c):
        f =math.factorial(n)
        a =(row**n)/f
        sum= sum+ a
    second = ((row**c)/math.factorial(c))
    third = (1/(1-row_by_c))
    final = 1/(sum+second*third)
    p.append(final)

In [17]:
wq

[7.268817204301076,
 5.764705882352939,
 4.738504738504736,
 3.999999999999999,
 9.642857142857142,
 13.82857142857143,
 22.727272727272737,
 51.15789473684213,
 2.248201438848921,
 0.4391820673178274,
 0.0908298212469118,
 0.01795697336794097,
 2.248201438848921,
 0.3032002631421814,
 0.04315550188250338,
 0.0057338943661009445]

data['P0']= p

lamda = 10
miu = 6
c = 2
row = lamda/miu
row_by_c = row/c
sum = 0

for n in range(0,c):
    f =math.factorial(n)
    a =(row**n)/f
    sum= sum+ a
second = ((row**c)/math.factorial(c))
third = (1/(1-row_by_c))
final = 1/(sum+second*third)