In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

music_data = pd.read_csv('vgsales-Copy1.csv')
music_data

    age  gender      genre
0    19       1      Metal
1    20       1     HipHop
2    21       1      Metal
3    22       1       Rock
4    23       1     HipHop
5    23       1      Metal
6    24       1       Rock
7    25       1     HipHop
8    26       1       Jazz
9    29       1       Jazz
10   30       1       Jazz
11   31       1  Classical
12   33       1  Classical
13   37       1  Classical
14   20       0      Dance
15   21       0      Dance
16   25       0      Dance
17   26       0   Acoustic
18   27       0   Acoustic
19   30       0   Acoustic
20   31       0  Classical
21   34       0  Classical
22   35       0  Classical

In [2]:


x = music_data.drop(columns = 'genre')
y = music_data['genre']

model = DecisionTreeClassifier()
model.fit(x,y)

predictions = model.predict([[21,1],[27,0]])

# Prediciting

In [3]:
print(f" Who has the age of 21 and Male, the possible genre is  {predictions[0]} .")
print(f" Who has the age of 27 and FeMale, the possible genre is  {predictions[1]} .")

 Who has the age of 21 and Male, the possible genre is  Metal .
 Who has the age of 27 and FeMale, the possible genre is  Acoustic .

# Error Finding

In [4]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
music_data = pd.read_csv('vgsales-Copy1.csv')

x = music_data.drop(columns = 'genre')
y = music_data['genre']


x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=45)

model = DecisionTreeClassifier()
model.fit(x_train,y_train)

predictions = model.predict(x_test)
score = accuracy_score(y_test,predictions)
score

1.0

In [5]:
Res = score*100
Res

100.0

In [6]:
print(f"Hello, Model has accuracy of {Res} %.")

Hello, Model has accuracy of 100.0 %.