In [1]:
import math
import pandas as pd

In [2]:
data = pd.read_excel('Single Server Finite Queue Length Infinite Queue Population Model Data Set.xlsx')

In [3]:
data

    lamda  miu  P0  Ls  lamda k  Lq  Ws  Wq       row
0       8    9 NaN NaN      NaN NaN NaN NaN  0.888889
1       9   10 NaN NaN      NaN NaN NaN NaN  0.900000
2      10   11 NaN NaN      NaN NaN NaN NaN  0.909091
3      11   12 NaN NaN      NaN NaN NaN NaN  0.916667
4       8    9 NaN NaN      NaN NaN NaN NaN  0.888889
5       7    8 NaN NaN      NaN NaN NaN NaN  0.875000
6       6    7 NaN NaN      NaN NaN NaN NaN  0.857143
7       5    6 NaN NaN      NaN NaN NaN NaN  0.833333
8       5    9 NaN NaN      NaN NaN NaN NaN  0.555556
9       6    9 NaN NaN      NaN NaN NaN NaN  0.666667
10      7    9 NaN NaN      NaN NaN NaN NaN  0.777778
11      8    9 NaN NaN      NaN NaN NaN NaN  0.888889
12      8    9 NaN NaN      NaN NaN NaN NaN  0.888889
13      8   10 NaN NaN      NaN NaN NaN NaN  0.800000
14      8   11 NaN NaN      NaN NaN NaN NaN  0.727273
15      8   12 NaN NaN      NaN NaN NaN NaN  0.666667

In [4]:
lammda = data['lamda']
miiu = data['miu']
roow = data['row']

In [5]:
p = []
lq =[]
ls = []
wq = []
ws = []
lam_k = []
n= 10
for i in range(0,len(lammda)):
    lamda = lammda[i]
    miu = miiu[i]
    row = lammda[i]/miiu[i]

    p_val = (1- row)/(1-(row**(n+1)))
    p.append(p_val)

    # determining ls

    lls1= (row/((1-row)*(1-(row** (n+1)))))
    lls2 =1+(n*(row**(n+1)))-((n+1)*(row**n))

    lls =lls1*lls2
    ls.append(lls)

    # determining effective arrival rate
    p_n = (row**n)*p_val
    p_joining = 1-p_n

    lamda_k = lamda*p_joining
    lam_k.append(lamda_k)


    # determining lq
    lqq = lls-(lamda_k/miu)
    lq.append(lqq)

    # determining Wq
    wqq = (lqq/lamda_k)*60
    wq.append(wqq)
    # determining Ws
    wss = (lls/lamda_k)*60
    ws.append(wss)

In [9]:
data['P0'] = p
data['Lq'] = lq
data['Ls'] = ls
data['lamda k'] = lam_k
data['Wq'] = wq
data['Ws'] = ws

In [10]:
data

,lamda,miu,P0,Ls,lamda k,Lq,Ws,Wq,row
0,8,9,0.152989,3.854120,7.623102,3.007108,30.335050,23.668383,0.888889
1,9,10,0.145732,3.969441,8.542676,3.115173,27.879604,21.879604,0.900000
2,10,11,0.139966,4.064054,9.460369,3.204021,25.775239,20.320694,0.909091
3,11,12,0.135280,4.142995,10.376636,3.278276,23.955714,18.955714,0.916667
4,8,9,0.152989,3.854120,7.623102,3.007108,30.335050,23.668383,0.888889
5,7,8,0.162378,3.710739,6.700976,2.873117,33.225656,25.725656,0.875000
6,6,7,0.174958,3.528217,5.775292,2.703175,36.654940,28.083512,0.857143
7,5,6,0.192586,3.289291,4.844481,2.481878,40.738622,30.738622,0.833333
8,5,9,0.445137,1.232858,4.993766,0.677995,14.812759,8.146092,0.555556
9,6,9,0.337232,1.871341,5.964911,1.208573,18.823496,12.156829,0.666667
10,7,9,0.237166,2.760278,6.865505,1.997444,24.123013,17.456346,0.777778
11,8,9,0.152989,3.854120,7.623102,3.007108,30.335050,23.668383,0.888889
12,8,9,0.152989,3.854120,7.623102,3.007108,30.335050,23.668383,0.888889
13,8,10,0.218794,2.966314,7.812057,2.185109,22.782585,16.782585,0.800000
14,8,11,0.281193,2.325207,7.906875,1.606400,17.644446,12.189901,0.727273
15,8,12,0.337232,1.871341,7.953215,1.208573,14.117622,9.117622,0.666667

In [11]:
data.to_excel("Single Server Finite Queue Length Infinite Queue Population Model Output.xlsx")

In [12]:
data

,lamda,miu,P0,Ls,lamda k,Lq,Ws,Wq,row
0,8,9,0.152989,3.854120,7.623102,3.007108,30.335050,23.668383,0.888889
1,9,10,0.145732,3.969441,8.542676,3.115173,27.879604,21.879604,0.900000
2,10,11,0.139966,4.064054,9.460369,3.204021,25.775239,20.320694,0.909091
3,11,12,0.135280,4.142995,10.376636,3.278276,23.955714,18.955714,0.916667
4,8,9,0.152989,3.854120,7.623102,3.007108,30.335050,23.668383,0.888889
5,7,8,0.162378,3.710739,6.700976,2.873117,33.225656,25.725656,0.875000
6,6,7,0.174958,3.528217,5.775292,2.703175,36.654940,28.083512,0.857143
7,5,6,0.192586,3.289291,4.844481,2.481878,40.738622,30.738622,0.833333
8,5,9,0.445137,1.232858,4.993766,0.677995,14.812759,8.146092,0.555556
9,6,9,0.337232,1.871341,5.964911,1.208573,18.823496,12.156829,0.666667
10,7,9,0.237166,2.760278,6.865505,1.997444,24.123013,17.456346,0.777778
11,8,9,0.152989,3.854120,7.623102,3.007108,30.335050,23.668383,0.888889
12,8,9,0.152989,3.854120,7.623102,3.007108,30.335050,23.668383,0.888889
13,8,10,0.218794,2.966314,7.812057,2.185109,22.782585,16.782585,0.800000
14,8,11,0.281193,2.325207,7.906875,1.606400,17.644446,12.189901,0.727273
15,8,12,0.337232,1.871341,7.953215,1.208573,14.117622,9.117622,0.666667