In [1]:
import math
import pandas as pd

In [2]:
data = pd.read_excel('Single Server Infinite Queue Length Infinite Queue Population Model Data Set.xlsx')

In [3]:
data

    lamda  miu  P0  Ls  Lq  Ws  Wq       row
0       8    9 NaN NaN NaN NaN NaN  0.888889
1       9   10 NaN NaN NaN NaN NaN  0.900000
2      10   11 NaN NaN NaN NaN NaN  0.909091
3      11   12 NaN NaN NaN NaN NaN  0.916667
4       8    9 NaN NaN NaN NaN NaN  0.888889
5       7    8 NaN NaN NaN NaN NaN  0.875000
6       6    7 NaN NaN NaN NaN NaN  0.857143
7       5    6 NaN NaN NaN NaN NaN  0.833333
8       5    9 NaN NaN NaN NaN NaN  0.555556
9       6    9 NaN NaN NaN NaN NaN  0.666667
10      7    9 NaN NaN NaN NaN NaN  0.777778
11      8    9 NaN NaN NaN NaN NaN  0.888889
12      8    9 NaN NaN NaN NaN NaN  0.888889
13      8   10 NaN NaN NaN NaN NaN  0.800000
14      8   11 NaN NaN NaN NaN NaN  0.727273
15      8   12 NaN NaN NaN NaN NaN  0.666667

In [4]:
lammda = data['lamda']
miiu = data['miu']
roow = data['row']

In [5]:
p = []
lq =[]
ls = []
wq = []
ws = []
for i in range(0,len(lammda)):
    lamda = lammda[i]
    miu = miiu[i]

    row = lammda[i]/miiu[i]


    p_val = 1- row
    p.append(p_val)

    # determining ls
    lls = (row/(1-row))
    ls.append(lls)

    # determining lq
    lqq = lls-row
    lq.append(lqq)

    # determining Wq
    wqq = (lqq/lamda)*60
    wq.append(wqq)
    print(wqq)
    # determining Ws
    wss = (lls/lamda)*60
    ws.append(wss)
    print(wss)

53.3333333333333
59.99999999999997
54.00000000000001
60.000000000000014
54.54545454545453
59.99999999999998
54.99999999999997
59.99999999999997
53.3333333333333
59.99999999999997
52.5
60.0
51.4285714285714
59.99999999999997
50.00000000000002
60.00000000000003
8.333333333333336
15.000000000000004
13.33333333333333
20.0
23.333333333333336
30.000000000000007
53.3333333333333
59.99999999999997
53.3333333333333
59.99999999999997
24.000000000000007
30.000000000000007
14.545454545454547
20.000000000000004
9.999999999999998
14.999999999999998

In [6]:
data['P0'] = p
data['Lq'] = lq
data['Ls'] = ls
data['Wq'] = wq
data['Ws'] = ws

In [7]:
data

    lamda  miu        P0         Ls         Lq    Ws         Wq       row
0       8    9  0.111111   8.000000   7.111111  60.0  53.333333  0.888889
1       9   10  0.100000   9.000000   8.100000  60.0  54.000000  0.900000
2      10   11  0.090909  10.000000   9.090909  60.0  54.545455  0.909091
3      11   12  0.083333  11.000000  10.083333  60.0  55.000000  0.916667
4       8    9  0.111111   8.000000   7.111111  60.0  53.333333  0.888889
5       7    8  0.125000   7.000000   6.125000  60.0  52.500000  0.875000
6       6    7  0.142857   6.000000   5.142857  60.0  51.428571  0.857143
7       5    6  0.166667   5.000000   4.166667  60.0  50.000000  0.833333
8       5    9  0.444444   1.250000   0.694444  15.0   8.333333  0.555556
9       6    9  0.333333   2.000000   1.333333  20.0  13.333333  0.666667
10      7    9  0.222222   3.500000   2.722222  30.0  23.333333  0.777778
11      8    9  0.111111   8.000000   7.111111  60.0  53.333333  0.888889
12      8    9  0.111111   8.000000   7.111111  60.0  53.333333  0.888889
13      8   10  0.200000   4.000000   3.200000  30.0  24.000000  0.800000
14      8   11  0.272727   2.666667   1.939394  20.0  14.545455  0.727273
15      8   12  0.333333   2.000000   1.333333  15.0  10.000000  0.666667

In [8]:
data.to_excel("Single Server Infinite Queue Length Infinite Queue Population Model Output.xlsx")

In [9]:
data

    lamda  miu        P0         Ls         Lq    Ws         Wq       row
0       8    9  0.111111   8.000000   7.111111  60.0  53.333333  0.888889
1       9   10  0.100000   9.000000   8.100000  60.0  54.000000  0.900000
2      10   11  0.090909  10.000000   9.090909  60.0  54.545455  0.909091
3      11   12  0.083333  11.000000  10.083333  60.0  55.000000  0.916667
4       8    9  0.111111   8.000000   7.111111  60.0  53.333333  0.888889
5       7    8  0.125000   7.000000   6.125000  60.0  52.500000  0.875000
6       6    7  0.142857   6.000000   5.142857  60.0  51.428571  0.857143
7       5    6  0.166667   5.000000   4.166667  60.0  50.000000  0.833333
8       5    9  0.444444   1.250000   0.694444  15.0   8.333333  0.555556
9       6    9  0.333333   2.000000   1.333333  20.0  13.333333  0.666667
10      7    9  0.222222   3.500000   2.722222  30.0  23.333333  0.777778
11      8    9  0.111111   8.000000   7.111111  60.0  53.333333  0.888889
12      8    9  0.111111   8.000000   7.111111  60.0  53.333333  0.888889
13      8   10  0.200000   4.000000   3.200000  30.0  24.000000  0.800000
14      8   11  0.272727   2.666667   1.939394  20.0  14.545455  0.727273
15      8   12  0.333333   2.000000   1.333333  15.0  10.000000  0.666667